@font-face {
    font-family: 'Hanken Grotesk';
    src:  url('assets/fonts/hanken-grotesk/HankenGrotesk-Regular.woff2'),
          url('assets/fonts/hanken-grotesk/HankenGrotesk-Regular.woff'),
          url('assets/fonts/hanken-grotesk/HankenGrotesk-Regular.otf');
}

@font-face {
    font-family: 'Niagara Solid';
    src:  url('assets/fonts/niagara-solid/niagara-solid.woff2'),
          url('assets/fonts/niagara-solid/niagara-solid.woff'),    
          url('assets/fonts/niagara-solid/niagara-solid.ttf');       
}



body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background: #d9d9d9;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  position: relative;
  padding: 0;

}

.header-text {
  position: relative;
  font-family: "Niagara Solid";
  font-size: 9rem;
  color: #c1272d;
  padding-left: 1rem;
  text-transform: uppercase;
  background: linear-gradient(
      to bottom,   
      black 60%,   
      #d9d9d9 40%  
  );
}

/* --- HEADER (NAV) -------------------------------------------------------------------------------------------------------------------------------------------------------- */ 
.main-header {
  width: 100%;
  height: 80px;
  padding: 2rem 5rem;
  display: flex;
  align-items: center; 
  justify-content: space-between; 

  box-sizing: border-box; 
  position: relative; 
}


.burguer{
    width: 30px;
    height: 20px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
        border: 1.5px solid #c1272d;
        width: 100%;
        
        display: inline-block;
    }
    display: none;
}

.header-logo {
  font-family: "Niagara Solid";
  font-size: 3.5rem;
  color: #c1272d;
  line-height: 1; 
  padding: 1;
 
}

.header-logo a{
  text-decoration: none;
  color: #c1272d;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin-bottom: 0;
}

.main-nav ul li a {
  color: #c1272d;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav ul li a:hover {
  text-decoration: underline; 
}


/*--- HERO SECTION -------------------------------------------------------------------------------------------------------------------------------------------------------- */ 
.hero {
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;   
  
  padding: 1.25rem;
  box-sizing: border-box; 
  position: relative; 
  overflow: hidden; 
}

.hero-content-wrapper {
  position: relative; 
  width: 90%; 
  
  max-width: 47rem; 
  margin: 0 auto; 
}

.hero-img {
  width: 100%;   
  
  max-height: 80vh; 
  object-fit: contain;
  display: block; 
}

.hero-subtitle {
  position: absolute; 
  left: 50%;     
  transform: translateX(-50%);
  bottom: 5rem;  

  width: 100%;
  text-align: center;
  white-space: normal; 
  box-sizing: border-box;
  
  color: #c1272d;
  font-size: 3rem; 
  font-weight: 700;
  text-transform: uppercase;
}


/* --- BIOGRAPHY SECTION -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.biography {
  position: relative;
  height: auto;
  padding: 2rem 5rem;

  background-image: url(assets/ifmg/bg-bio.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%
}



.bio-subheader {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  color: #D16165;
}


.bio-content1{
  display: flex;
}

.bio-main-text{
  flex: 2;
}

.bio-text-1 {
  position: relative;
  flex: 1;
  line-height: 1.1;
  font-size: 2rem;
  color: #1e1e1e;
  font-weight: 500;
}

.bio-img-1 {
  position: relative;
  flex: 2;
  max-width: 550px;
  height: 744px;
  background-image: url(assets/img/bio-img1.png);
  background-size: cover;
  margin-left: 2rem;
}

.bio-content2{
  display: flex;
 
  margin-top: 8rem;
}

.bio-img-2 {
  position: relative;
  flex: 2;
  max-width: 550px;
  height: 744px;
  background-image: url(assets/img/bio-img2.jpg);
  background-size: cover;
}
.bio-text-2 {
  position: relative;
  flex: 1;
  margin-left: 2.5rem;
  
  font-size: 2rem;
  color: #1e1e1e;
  font-weight: 500;
}
.bio-text-2 p:first-child {
  margin-top: 0;
}



/* --- ALBUMS -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.albums {
  position: relative;
  height: auto;
  padding-bottom: 5rem;
  background: #d9d9d9;
  text-align: center;
}

.album-box {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.spotify-albums {
  position: relative; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 20;
}

.spotify-albums iframe {
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-top: 2rem;
}

.spotify-albums iframe:hover {
  transform: scale(1.05);
}

.album-title {
  position: relative;
  z-index: 10;
 
  justify-content: center;
  font-family: "Niagara Solid";
  color: #c1272d;
  font-size: 25rem;

}

.album-banner {
  position: absolute;
  background-image: url(assets/img/music-bg.jpg);
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  z-index: 5;
}

.last-release{
  width: 70%;
  margin: 5rem auto 0 auto;
  border-radius: 30px;
  background-color: #1F1F1F;
}

.last-release-header{
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
  img{
    width: 250px;
    height: 250px;
    margin: 3rem 0 0 3rem;
  }
  .last-release-text{
  text-align: left;
  margin: 0 2.5rem 0 2.5rem;
  color: #d9d9d9;
    h1{
      font-size: 3.5rem; 
      font-weight: 20;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #c1272d;
      font-family: "Niagara Solid";
    }

    h4{
      margin: 0;
    }

    p{
      font-size: 1.2rem;
    }
  }
}

.last-release-spotify{
  width:100%;
  display: flex;
  
  .last-release-left,
  .last-release-center,
  .last-release-right{
      justify-content: center;
      align-items: center;
      padding: 0 1rem 1rem 1rem;
  }
  .last-release-left iframe,
  .last-release-right iframe, 
  .last-release-center iframe
   {
    margin-bottom: 2rem; 
    box-shadow: black 2px 2px 10px ;
    transition: transform 0.3s ease;
  }
  .last-release-left iframe:hover,
  .last-release-right iframe:hover,
  .last-release-center iframe:hover {
  transform: scale(1.03);
  }

}



/* --- TOUR -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.tour {
  position: relative;
  height: auto;
  background: #d9d9d9;
  background-image: url(assets/img/on-tour-arm.png);
  background-position:left;
  background-repeat: no-repeat;
  background-size: 30vh;
  .header-text {
    margin: 0 5rem 0 5rem;
  }
}


.tour-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 5rem 5rem;

  gap: 1rem; 

  margin-top: 6rem;
  position: relative;
  z-index: 10;
}


.tour-stadium {
  flex: 1; 
  min-height: 500px;
  background-image: url('assets/img/the-forum.png'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}


table {
  display: flex;
  flex: 1;

  width: 100%;
  border-collapse: collapse; 
  font-size: 1.5rem;
  margin-left: 2rem;
  td {
    padding: 1rem .5rem;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
  }

  a{
    color: black;
    text-decoration: underline;
    cursor: pointer;
   
  }


}

table tbody tr:nth-child(2) a{
  font-weight: bold;
}

table tbody tr:nth-child(2) a::before{
  content: '>';
}

/* --- TOUR GALLERY -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.tour-gallery {
  height: auto; 
}

.tour-gallery .header-text {
  margin: 0 5rem 2rem 5rem;
}

.collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  height: 80vh;
  gap: 0.6rem;
  width: calc(100% - 10rem);
  margin: 0 auto;
  margin-bottom: 5rem;
}

.item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.item:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.item {
  position: relative;
  overflow: hidden;
  
  img, 
  video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s;
  }
}

.item:hover img {
  transform: scale(1.1);
}



/* --- SHOP -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.shop {
  position: relative;
  height: auto;
  background: #d9d9d9;
  flex-direction: column;
  .header-text {
    margin: 0 5rem 0 5rem;
    padding-left: 1rem;
  }
}


.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  width: 95%;
  margin: 1rem 0 4rem 0;
}

.shop-item {
  position: relative;

  width: 400px;
  height: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

.merch1{
  background-image: url(assets/img/merch/merch1-front.png);
  background-size: cover;
}

.merch1:hover{
    background-image: url(assets/img/merch/merch1-back.png);
    background-size: cover;
}

.merch2{
  background-image: url(assets/img/merch/cap1-front.png);
  background-size: cover;
}

.merch2:hover{
    background-image: url(assets/img/merch/cap1-side.png);
    background-size: cover;
}

.merch3{
  background-image: url(assets/img/merch/shirt1-front.png);
  background-size: cover;
}

.merch3:hover{
    background-image: url(assets/img/merch/shirt1-back.png);
    background-size: cover;
}

.shop-item a{
  color: white;
  text-decoration: none;
}

.shop-item .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 32px;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  z-index: 10;
  margin-top: 0;
}


.shop-item .buy-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  
  background: black;
  color: white;
  height: 45px;
  width: 155px;
  padding: 0 1rem; 
  font-size: 28px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease;
  
  display: flex;
  align-items: center;    
  justify-content: center; 
  gap: 0.5rem;            

  margin-top: 0;
}

.shop-item .buy-btn:hover {
  background-color: #333;
}

.shop-item .buy-btn svg {
  width: 24px;
  height: 24px;
  
  fill: white; 
}

/* --- CONTACT -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.contact {
  position: relative;
  height: 130vh;
  background: black;
  color: white;
  
}

.contact-content{
  position: relative;
  display: flex;
  height: 80vh;
}

.contact-text{
  flex: 1;
  padding: 5rem 5rem;
}

.contact-title {
  font-family: "Niagara Solid";
  font-size: 9rem;
  color: #c1272d;
  text-align: right;
  background: linear-gradient(
      to bottom,   
      black 60%,   
      #d9d9d9 40%  
  );
}

.contact-subtext {
  text-align: right;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem 5rem;


}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  color: white;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  font-family: "Hanken Grotesk";
  color: white;
}

.send-contact {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.privacy {
  display: flex;
  align-items: center; 
  gap: 1rem;
  font-size: 1.2rem;
  input {
    width: 25px; 
    height: 25px;
  }
}

.contact-form button {
  background: #d9d9d9;
  color: black;
  border: none;
  font-size: 28px;
  height: 45px;
  width: 155px;
  font-weight: bold;
}

.map {
  filter: grayscale(100%) invert(100%);
  height: 50vh;
  position: absolute;
  bottom: 0;
}

/* --- FOOTER -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: 50vh;
  background: #3b3b3b;
  
}

.footer-topband{
  top: 0;
  width: 100%;
  height: 125px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-topband a {
  display: block;
  margin: 0 45px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.4;
}

.footer-topband a:hover {
  opacity: 1;
  transform: scale(1.05);
}

.footer-topband img{
  height: 60px;

}

.footer-img {
  background-image: url(assets/img/footer-bg.png);
  width: 100%;
  height: calc(50vh - 130px);
  background-size: cover;
  background-position: top center ;
  
}

.footer-content{
  display: flex;                
  justify-content: center;    
  align-items: center; 
  padding-right: 10rem;  
  padding-top: 2rem;  
      
}

.footer-nav{
  flex: 1;
  margin: 0 0 2rem 2rem;
  ul{
    list-style-type:none;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
}

.footer-header {
  font-family: "Niagara Solid";
  font-size: 8rem;
  color: #c1272d;
 
  text-align: center;
  line-height: 0.9;
  
}

.footer-subtext{
  font-family: "Hanken Grotesk";
  font-size: 1.5rem;
  color: black;

  margin: 0;  
  line-height: 0.4;
}

.social-icons img{
  width: 50px;


  margin-bottom: 3rem;
}


.footer-bottomband {
  bottom: 0;
  width: 100%;
  height: auto;
  background: black;
}

.footer-text {
  text-align: center;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 1rem;
}

.footer-text a{
  text-decoration: none;
  color: white;
}


/* --- MEDIA QUERIES -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -- SCREEN 1600PX ----------------------------------------------------------------------------------------------------*/
@media (max-width:1650px){
    /* --- BIOGRAPHY -------------------------------------------------- */
    .bio-img-1,
    .bio-img-2 {
      height: 1000px;
    }
    /* --- ALBUMS ----------------------------------------------------- */
    .last-release {
        width: 90%; 
        padding-bottom: 2rem;
    }

    .last-release-spotify {
        flex-direction: column; 
    }
    /* --- TOUR ----------------------------------------------------- */
    .tour {
        height: auto;
        padding-bottom: 5rem;
        background-size: 15%; 
    }

    .tour-stadium {
        width: 100%;
        min-height: 500px;
    }
    table {
        width: 100%;
        margin-left: 0;
        font-size: 1.1rem;
    }
    /* --- FOOTER ----------------------------------------------------- */
    .footer-nav{
      display: none;
    }

    .footer-content{               
     justify-content: flex-end;    
     padding-right: 5rem;  
    }

.footer-header {
  font-family: "Niagara Solid";
  font-size: 8rem;
  color: #c1272d;
 
  text-align: center;
  line-height: 0.9;
  margin-bottom: -0.5;
}

}


/* -- SCREEN 1250PX ----------------------------------------------------------------------------------------------------*/
@media (max-width:1250px){
      .main-nav {
      ul{
          li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5){
              display: none;
            }
        } 
    }
  
  .burguer{
    display: flex;
    }

    
    /* --- BIOGRAPHY -------------------------------------------------- */
    .biography {
        height: auto;
        padding: 3rem 1.5rem;
        background-size: cover; 
    }

    .bio-subheader{
      font-size: 1.2rem;
    }

    .bio-content1, 
    .bio-content2 {
        flex-direction: column; 
        margin-top: 3rem;
    }

    .bio-content2 {
        flex-direction: column-reverse; 
    }

    .bio-img-1 {
      background-image: url('assets/img/media-queries-img/bio-img1-media.png');
      min-height: 300px;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    .bio-img-2 {
      background-image: url('assets/img/media-queries-img/bio-img2-media.png');
      min-height: 300px;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    .bio-img-1, .bio-img-2 {
        width: 100%;
        max-width: 100%;
        height: 400px; 
        margin: 0 0 2rem 0; 
    }
    .bio-text-1, .bio-text-2 {
        font-size: 1.25rem; 
        margin-left: 0;
    }



    /* --- TOUR ----------------------------------------------------- */
    .tour {
        height: auto;
        padding-bottom: 5rem;
        background-size: 15%; 
    }

    .tour-stadium {
        width: 100%;
        min-height: 500px;
    }
    table {
        width: 100%;
        margin-left: 0;
        font-size: 1.1rem;
    }

     /* --- TOUR GALLERY ----------------------------------------------------- */
     .item:nth-child(4) img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    /* --- CONTACT ----------------------------------------------------- */
    .contact {
        height: auto; 
    }
    .contact-content {
        flex-direction: column-reverse;
        height: auto;
    }
    .contact-text, .contact-form {
        padding: 3rem 1.5rem;
    }
    .contact-title {
        
        font-size: 6rem;
    }
    .contact-subtext {
      font-size: 1.2rem;
    }
    .map {
        position: relative; 
        height: 300px;
        width: 100%;
    }

}


/* -- SCREEN 1100PX ----------------------------------------------------------------------------------------------------*/
@media (max-width:1100px){
    /* --- TOUR ----------------------------------------------------- */
    .tour {
        height: auto;
        padding-bottom: 5rem;
        background-size: 0px; 
    }
    .tour .header-text {
        margin: 0 1.5rem;
    }
    .tour-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }
    .tour-stadium {
        width: 100%;
        min-height: 400px;
    }
    table {
        width: 90%;
        max-width: 800px;
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
    }

}


/* --- SCREEN 768px ----------------------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
    .header-text {
        font-size: 4rem; 
        text-align: left; 
    }

    .main-header {
        padding: 1rem 1.5rem; 
        height: 60px;
    }

    /* --- HERO -------------------------------------------------- */
    .hero {
        height: auto;      
        min-height: 80vh; 
        padding-top: 6rem; 
    }
    
    .hero-subtitle {
        position: relative; 
        bottom: auto;
        left: auto;
        transform: none;
        margin-top: 2rem;
        font-size: 2rem;
    }

    /* --- BIOGRAPHY -------------------------------------------------- */
    .bio-img-1 {
      background-image: url('assets/img/media-queries-img/bio-img1-media.png');
      min-height: 200px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .bio-img-2 {
      background-image: url('assets/img/media-queries-img/bio-img2-media.png');
      min-height: 200px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }


    /* --- ALBUMS ----------------------------------------------------- */
    .album-box {
        height: auto;
        padding: 4rem 0;
    }
    .album-title {
        font-size: 8rem; 
    }
    .spotify-albums {
        width: 80%;
    }

    .album-banner{
      height: 70%;
    }

    .last-release {
        width: 90%; 
        padding-bottom: 2rem;
    }
    .last-release-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .last-release-header img {
        margin: 2rem 0;
        width: 200px;
        height: 200px;
    }
    .last-release-header .last-release-text {
        margin: 0 1.5rem;
        text-align: center;
    }
    .last-release-header .last-release-text h1 {
        font-size: 3rem;
    }
    .last-release-spotify {
        flex-direction: column; 
    }

    /* --- TOUR ----------------------------------------------------- */
    .tour {
        height: auto;
        padding-bottom: 5rem;
        background-size: 0px; 
    }
    .tour .header-text {
        margin: 0 1.5rem;
    }
    .tour-content {
        flex-direction: column;
        margin: 3rem 1.5rem;
    }
    .tour-stadium {
        width: 100%;
        min-height: 300px;
    }
    table {
        width: 100%;
        margin-left: 0;
        font-size: .9rem;
    }

    /* --- TOUR GALLERY ----------------------------------------------------- */
    .tour-gallery .header-text {
        margin: 0 1.5rem 2rem 1.5rem;
    }

    .collage {
        width: 90%;
        height: auto;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 2fr 1fr; 
    }

    .item:nth-child(1),
    .item:nth-child(2),
    .item:nth-child(5),
    .item:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
        aspect-ratio: 1 / 1; 
    }

    .item:nth-child(3),
    .item:nth-child(4) {
        grid-column: auto;
        grid-row: auto;
        aspect-ratio: 1 / 2; 
    }


    /* --- SHOP ----------------------------------------------------- */
    .shop .header-text {
        margin: 0 1.5rem;
    }
    .shop-container {
        gap: 3rem;
        margin: 1rem auto 4rem;
    }
    .shop-item {
        width: 70%;      
        height: auto;
        aspect-ratio: 1 / 1; 
    }



    /* --- FOOTER ----------------------------------------------------- */
    .footer {
        height: auto;
    }

    .footer-img{
      background-position:right;
    }

    .footer-topband {
        height: auto;
        padding: 1.5rem 0;
        flex-wrap: wrap; 
        gap: 1.5rem;
    }
    .footer-topband img{
      height: 40px;
    }
    .footer-topband a {
        margin: 0 15px;
    }

    .social-icons img {
        margin: 0 10px 2rem 10px; 
    }
    .footer-header {
        font-size: 6rem;
    }
}